*{
    margin: 0;
}
html{
    display: flex;
}
body {
    padding-right: auto;
    margin: 0;
    width: 720px;
    border-radius: 15px;
    background-color: grey;
    /* text-align: center; */
}
.hero{
    background-image: url('./image//download.png');
    height: 343px;
    background-size: cover; 
    text-align: center;
    color: whitesmoke;
}
.hero h1{
    padding-top: 100px;
}


.img-activity img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;

} 
.activity-text{
    text-align: center;
    margin: 15px 0;
}
.activity{
    margin: 15px;
    width: 183px;
}
.activity img {
    margin-bottom: 15px;
}

.img-activity{
    display: flex;
    justify-content: space-around;
}
.guide{
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    display: flex;
    gap: 10px;
    background-color: aqua;
    border-radius: 8px;
}
.guide img{
    margin: 15px;
    width: 150px;
    height: 150px;
    border-radius: 10px;

}
.guide-desc{
    margin: 15px;
}
